@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background-color: #a3a3a3;
}

::-webkit-scrollbar-thumb:hover {
	background-color: grey;
}

.banner {
	background-image: url("../assets/images/banner.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
	background-size: cover;
}

.carousel {
	@apply relative overflow-hidden;
}

.inner {
	@apply whitespace-nowrap transition-transform duration-500;
}

.carousel-item {
	@apply relative z-30 inline-flex items-center justify-center h-[50vh] md:h-screen bg-green-500 text-white;
}

.center-item {
	@apply flex items-center justify-center;
}
